{% extends "patient-index.html" %}

{% block page_content %}

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
        Chuẩn đoán: Bọn í
      </p>
      <a class="card-header-icon" aria-label="more options">
        Xem đơn thuốc
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
    </a>
    </header>
    <div class="card-content">
        <div class="content">
            Bệnh nhân Ngoại trú
            <br>
            Bác sĩ: <strong>Michael L Hammond</strong>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>

            <div class="me-sick" style="display: none;">
                <table class="table">
                    <thead>
                      <tr>
                        <th><abbr title="Position">#</abbr></th>
                        <th>Tên thuốc</th>
                        <th>Cách sử dụng</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>Berberine 100mg</td>
                        <td>Uống sáng tối, mỗi lần 10 viên</td>
                      </tr>
                    </tbody>
                </table>
                <strong>Ghi chú: </strong> 
            </div>
        </div>
    </div>
</div>

{% endblock %}