{% extends "base.html" %}

{% block content %}
<div class="columns has-text-left">
    <div class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">
              THÔNG TIN CHUNG
            </p>
            <ul class="menu-list">
              <li><a>Thông tin cá nhân</a></li>
              <li><a>Thông tin thân nhân</a></li>
            </ul>
            <br>
            <p class="menu-label">
              THÔNG TIN KHÁM BỆNH
            </p>
            <ul class="menu-list">
                <li><a class="is-active">Lịch sử khám bệnh</a></li>
                <li><a>Lịch sử xét nghiệm</a></li>
                <li><a>Lịch sử phẫu thuật</a></li>
            </ul>
          </aside>
    </div>
    <div class="column">

        

    </div>
</div>
{% endblock %}