{% extends "patient-index.html" %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block page_content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-primary" style="text-align: center;">
        <button class="delete"></button>
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}

  <form method="post">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Số BHYT</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input name="hin" class="input" type="text" value="{{ patient[0] }}" required disabled>
          </p>
          <p class="help">
            Không có khoảng trắng giữa các số
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Họ và tên</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input name="name" class="input" type="text" placeholder="Có dấu, chứa khoảng trắng"
                   value="{{ patient[1] }}" required disabled>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                +84
              </a>
            </p>
            <p class="control is-expanded">
              <input name="phone" class="input" type="tel" value="{{ patient[5] }}" required>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Giới tính</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="gender">
                <option {{ "selected" if patient[2] else "" }}>Nữ</option>
                <option {{ "selected" if not patient[2] else "" }}>Nam</option>
                <option>Khác</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Ngày sinh</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input name="bday" class="input" type="date" value="{{ patient[3] }}" required>
          </p>
        </div>
        <div class="field"></div>
        <div class="field"></div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Nơi ở hiện tại</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input name="addr" class="input" type="text" value="{{ patient[4] }}" required>
          </p>
          <p class="help">
            Số nhà, tên đường, Phường/Xã, Quận/Huyện, Tỉnh/Thành phố
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary">
              Cập nhật
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}