{% extends "base.html" %}

{% block content %}


  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <form method="get">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input name="hin" class="input {{ 'is-danger' if data == None and hin else '' }}" type="text" placeholder="Tìm kiếm bệnh nhân theo mã Bảo hiểm y tế"
                   autocomplete="off" value="{{ hin }}">
          </p>
          <div class="control">
            <button type="submit" class="button is-primary">
              Tìm kiếm
            </button>
          </div>
        </div>
        {% if data == None and hin %}
          <p class="help is-danger">Không tồn tại mã BHYT!</p>
        {% endif %}
      </form>
    </div>
    <div class="column"></div>
  </div>

  {% if data %}
{#    {{ data }}#}
    <form method="post">
      <section class="section">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-4 has-text-left">
            <strong style="font-size: 1.575em;">  {{ data[1] }} </strong> <br>
            Mã BHYT: <strong> {{ data[0] }} </strong> <br>
            {% if data[2] %}
              Giới tính: <b>Nữ</b>
            {% else %}
              Giới tính: <b>Nam</b>
            {% endif %}
            <br><br> Lịch sử khám bệnh: <a href="#">Xem thêm</a>
          </div>
          <div class="column">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Ghi chú:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                  <textarea name="note" class="textarea is-hovered" placeholder="Bỏ trống nếu không có ghi chú."
                            rows="3"></textarea>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-1"></div>
        </div>
      </section>

      <section class="section">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Chỉ định xét nghiệm</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input name="test" id="xet-nghiem" class="input" type="text">
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Chỉ định chụp phim</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input name="xray" id="chup-phim" class="input" type="text">
              </p>
            </div>
          </div>
        </div>

        <br>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Bệnh nhân</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input name="ptype" type="radio" id="option1" value="1">
                  Ngoại trú
                </label>
                <label class="radio">
                  <input name="ptype" type="radio" id="option2" value="0">
                  Nội trú
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Bệnh chẩn đoán</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input name="diagnosis" id="benh-chuan-doan" class="input" type="text">
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Thuốc chỉ định</label>
          </div>
          <div id='medicine-body' class="field-body" style="height: 240px; overflow-y: scroll; margin-bottom: 0;">
            <div class="field">
              <table id="medicine-table" class="table is-fullwidth">
                <thead>
                <tr>
                  <th><abbr title="STT">#</abbr></th>
                  <th>ID</th>
                  <th>Số lượng</th>
                  <th>Cách sử dụng</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><strong>1</strong></td>
                  <td>
                    <div class="control">
                      <input name="medCode[]" class="input" type="text" placeholder="Small input">
                    </div>
                  </td>
                  <td>
                    <div class="control">
                      <input name="medQuantity[]" class="input" type="text" placeholder="Small input">
                    </div>
                  </td>
                  <td>
                    <div class="control">
                      <input name="medUsage[]" class="input" type="text" placeholder="Small input">
                    </div>
                  </td>
                  <td>
                    <button class="button is-danger is-inverted delete-item">
                      <i class="fas fa-minus"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div id="add-item" class="button is-primary is-light additem">
                <i class="fas fa-plus"></i>
                <h6 class="subtitle is-6" style="color: #f0f8ff;">Thêm thuốc</h6>
              </div>
            </div>
          </div>
        </div>

{#        <div class="field is-horizontal">#}
{#          <div class="field-label is-normal">#}
{#            <label class="label">Chỉ định phẫu thuật</label>#}
{#          </div>#}
{#          <div class="field-body">#}
{#            <div class="field">#}
{#              <p class="control">#}
{#                <input name="surgery" class="input" type="text">#}
{#              </p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Ngày tái khám</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input name="date" id="ngay-taikham" class="input" type="date">
              </p>
            </div>
          </div>
        </div>
        <button class="button is-primary">Hoàn thành</button>
      </section>
    </form>
  {% endif %}
{% endblock %}